[submodule "modules/hammer"]
	path = modules/hammer
	url = https://github.com/hammerjs/hammer.js.git
[submodule "modules/jquery"]
	path = modules/jquery
	url = https://github.com/kvnlnt/jquery-2.1.2.git
[submodule "modules/lodash"]
	path = modules/lodash
	url = https://github.com/lodash/lodash.git
[submodule "modules/snapsvg"]
	path = modules/snapsvg
	url = https://github.com/adobe-webplatform/Snap.svg.git