@font-face {
  font-family: 'VarelaRound';
  font-style: normal;
  font-weight: 400;
  src: local('VarelaRound'), local('VarelaRound-Regular'), url(../fonts/Varela_Round/VarelaRound-Regular.woff) format('woff');
}

.pickl {
	font-family:'VarelaRound';
	font-size: 1rem;
}

.pickl .hide {
	display: none;
}

.pickl text {
	alignment-baseline:central;
    text-anchor:middle;
}

.pickl .title {
	font-size: 1.5rem;
}

.pickl .button {
	font-family:'FontAwesome';
	cursor: pointer;
	text-transform: uppercase;
}

.pickl .button:hover {
	fill:#FFFFFF;
}

.pickl .button .touchTarget {
	fill:#999999;
}
