@font-face {
  font-family: 'VarelaRound';
  font-style: normal;
  font-weight: 400;
  src: local('VarelaRound'), local('VarelaRound-Regular'), url(../fonts/Varela_Round/VarelaRound-Regular.woff) format('woff');
}

.pickl {
	font-family:'VarelaRound';
	font-size: 1rem;
}

.pickl .title {
	text-transform: uppercase;
}

.pickl .hide {
	display: none;
}

.pickl text {
	alignment-baseline:central;
    text-anchor:middle;
    pointer-events:none;
}

.pickl .title {
	font-size: 1.5rem;
}

.pickl .button {
	cursor: pointer;
	font-size: 0.85rem;
}

.pickl .button.close {
	text-transform: uppercase;
}

.pickl .button.arrow .touchTarget {
	stroke:none;
}

.pickl .field {
	font-size: 0.85rem;
}

.pickl .field > .arrow {
	font-family:'FontAwesome';
	font-size: 1.25rem;
}
